/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Estilo Geral */
:root {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  padding: 0 20px;
  max-width: 600px;
  margin: auto;
}

.d-flex {
  display: flex;
}

h1 {
  line-height: 1;
  padding: 0 0 2rem;
  border-bottom: 2px solid #454545;
  margin: 20px 0 0;
  text-align: center;
}

nav ul {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#menu a {
  color: #c1c5c7;
  background-color: #1f1d1d;
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 4px;
}

#menu a:hover {
  color: #1f1d1d;
  background-color: #c1c5c7;
  border-color: #1f1d1d;
}

table {
  margin: 0 auto;
  padding: 20px;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #454545;
}

table th,
table td {
  padding: 4px 8px;
}

td button {
  padding: 4px 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 4px 0;
  max-width: 6ch;
  margin-right: 4px;
}

button.save {
  padding: 4px;
}

#add-item {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.material-symbols-outlined {
  font-size: 4rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.material-symbols-outlined:hover {
  transform: scale(1.1);
  color: #a0a2a3;
}
