/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Estilo Geral */
:root {
  --c0: #fafafa;
  --c1: #c1c5c7;
  --c2: #a0a2a3;
  --c3: #454545;
  --c4: #1f1d1d;
  --c5: #111111;
}

body {
  font-family: sans-serif;
  width: 100vw;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header,
main {
  padding-top: 20px;
}

footer {
  padding: 20px 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--c1);
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#menu a {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--c1);
  background-color: var(--c4);
}

#menu a:hover {
  border-color: var(--c4);
  color: var(--c4);
  background-color: var(--c1);
}

/* Main */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-transform: uppercase;
}

tbody tr {
  text-transform: capitalize;
}

table,
td,
th {
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--c3);
  font-size: 14px;
}

@media print {
  table,
  td,
  th {
    font-family: Arial, sans-serif;
  }
}

table th,
table td {
  padding: 4px 8px;
}

table td button {
  display: block;
  margin: auto;
  padding: 4px 8px;
}

/* Footer */
div.footer {
  margin: 100px;
}

footer {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 2px solid var(--c1);
  background-color: var(--c0);
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.875rem;
  text-align: center;
}

.material-symbols-outlined {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.material-symbols-outlined:hover {
  transform: scale(1.1);
  color: var(--c2);
}

/* Extras */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4px;
}

@media print {
  /* @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  } */
  .no-print {
    display: none !important;
  }
}

/* Modal */
.modal-overlay {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0.7);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  background: var(--c0);
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 90vw;
  max-width: 600px;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: #770000;
  color: var(--c0);
  padding: 8px 16px;
  margin: 20px 20px 0 0;
}

.modal-title h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}

.modal-content form {
  margin-top: 32px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.modal-content form input[type="text"],
.modal-content form select  {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--c3);
  width: 100%;
  padding: 8px 12px;
}

.col-2 {
  grid-column: 1/-1;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  height: 32px;
  border: none;
}

.btn-1 {
  background: #007700;
}

.btn-2 {
  background: #000077;
}
