@import url("./styles/header.css");
@import url("./styles/button.css");
@import url("./styles/main.css");
@import url("./styles/footer.css");
@import url("./styles/modal.css");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --c0: #fafafa;
  --c1: #f0f0f0;
  --c2: #c1c5c7;
  --c3: #a0a2a3;
  --c4: #454545;
  --c5: #1f1d1d;
  --c6: #111111;

  --plus: #2ecc71;
  --minus: #c0392b;

  --close: #e74c3c;
  --close-hover: #cc0000;

  --red: #770000;
  --green: #007700;
  --blue: #2e75cc;
  --dark-blue: #000077;
  --purple: #9c88ff;
}

.light {
  --c0: #111111;
  --c1: #1f1d1d;
  --c2: #454545;
  --c3: #a0a2a3;
  --c4: #c1c5c7;
  --c5: #f0f0f0;
  --c6: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  background: var(--c0);
  color: var(--c6);
}

body,
input[type="text"],
select {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

.container + .container {
  margin-top: 26px;
}

.link {
  cursor: pointer;
}

@media print {
  .no-print {
    display: none !important;
  }
}
