.btn {
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  height: 32px;
  border: none;
}

.btn:hover {
  opacity: .8;
  transition: all ease-in-out 200ms;
}

.btn-table {
  border-radius: 0;
  font-size: 1.125rem;
  padding: 4px 12px;
  height: initial;
}

.btn-1 {
  background: var(--green);
}

.btn-2 {
  background: var(--dark-blue);
}

.btn-3 {
  background: var(--red);
}

.btn-4 {
  background: var(--purple);
}

.plus {
  background: var(--plus);
}

.minus {
  background: var(--minus);
}