header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid var(--c2);
}

h1#title {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  line-height: 1;
  color: var(--blue);
  cursor: default;
}

nav > ul#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#menu a {
  display: block;
  background: var(--c5);
  color: var(--c2);
  padding: 8px 16px;
  border-radius: 4px;
}

#menu a:hover {
  background: var(--c2);
  color: var(--c5);
  outline: 1px solid var(--c5);
}

@media (max-width: 600px) {
  header {
    gap: 10px;
  }
  h1#title {
    font-size: 2.25rem;
  }
  nav > ul#menu {
    gap: 10px;
  }
  #menu a {
    font-size: .875rem;
    padding: 6px 12px;
  }
}